motorola/motorolllaTSD/Web References/CMMON3/CMMon3Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="RegisterInfo3">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TerminalID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="opdate" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegisterInfo3Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RegisterInfo3Result" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NoloadPodInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TerminalID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BRIG" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="POD" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NoloadPodInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="NoloadPodInfoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegisterPodInfo3">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TerminalID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BRIG" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="POD" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Opdate" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="WP" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="QWORKERS" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="STATUSID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="opPRC" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="BRK" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="lmnga" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="WPChanged" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="QWORKERSChanged" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="STATUSChanged" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="opPRCChanged" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="BRKChanged" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="LMNGAChanged" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegisterPodInfo3Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RegisterPodInfo3Result" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NewPod3">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TerminalID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="POD" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BRIG" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="opdate" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NewPod3Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="NewPod3Result" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VerifyPod3">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TerminalID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="POD" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BRIG" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VerifyPod3Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="VerifyPod3Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VerifyClose">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TerminalID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="POD" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BRIG" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VerifyCloseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="VerifyCloseResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Ping3">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="TerminalID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Ping3Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Ping3Result" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMaxStatus">
        <s:complexType />
      </s:element>
      <s:element name="GetMaxStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetMaxStatusResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStatusName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStatusNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetStatusNameResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddStatusResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetOPInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="OpCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetOPInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetOPInfoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTerminalOperations">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="terminalid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTerminalOperationsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTerminalOperationsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RegisterInfo3SoapIn">
    <wsdl:part name="parameters" element="tns:RegisterInfo3" />
  </wsdl:message>
  <wsdl:message name="RegisterInfo3SoapOut">
    <wsdl:part name="parameters" element="tns:RegisterInfo3Response" />
  </wsdl:message>
  <wsdl:message name="NoloadPodInfoSoapIn">
    <wsdl:part name="parameters" element="tns:NoloadPodInfo" />
  </wsdl:message>
  <wsdl:message name="NoloadPodInfoSoapOut">
    <wsdl:part name="parameters" element="tns:NoloadPodInfoResponse" />
  </wsdl:message>
  <wsdl:message name="RegisterPodInfo3SoapIn">
    <wsdl:part name="parameters" element="tns:RegisterPodInfo3" />
  </wsdl:message>
  <wsdl:message name="RegisterPodInfo3SoapOut">
    <wsdl:part name="parameters" element="tns:RegisterPodInfo3Response" />
  </wsdl:message>
  <wsdl:message name="NewPod3SoapIn">
    <wsdl:part name="parameters" element="tns:NewPod3" />
  </wsdl:message>
  <wsdl:message name="NewPod3SoapOut">
    <wsdl:part name="parameters" element="tns:NewPod3Response" />
  </wsdl:message>
  <wsdl:message name="VerifyPod3SoapIn">
    <wsdl:part name="parameters" element="tns:VerifyPod3" />
  </wsdl:message>
  <wsdl:message name="VerifyPod3SoapOut">
    <wsdl:part name="parameters" element="tns:VerifyPod3Response" />
  </wsdl:message>
  <wsdl:message name="VerifyCloseSoapIn">
    <wsdl:part name="parameters" element="tns:VerifyClose" />
  </wsdl:message>
  <wsdl:message name="VerifyCloseSoapOut">
    <wsdl:part name="parameters" element="tns:VerifyCloseResponse" />
  </wsdl:message>
  <wsdl:message name="Ping3SoapIn">
    <wsdl:part name="parameters" element="tns:Ping3" />
  </wsdl:message>
  <wsdl:message name="Ping3SoapOut">
    <wsdl:part name="parameters" element="tns:Ping3Response" />
  </wsdl:message>
  <wsdl:message name="GetMaxStatusSoapIn">
    <wsdl:part name="parameters" element="tns:GetMaxStatus" />
  </wsdl:message>
  <wsdl:message name="GetMaxStatusSoapOut">
    <wsdl:part name="parameters" element="tns:GetMaxStatusResponse" />
  </wsdl:message>
  <wsdl:message name="GetStatusNameSoapIn">
    <wsdl:part name="parameters" element="tns:GetStatusName" />
  </wsdl:message>
  <wsdl:message name="GetStatusNameSoapOut">
    <wsdl:part name="parameters" element="tns:GetStatusNameResponse" />
  </wsdl:message>
  <wsdl:message name="AddStatusSoapIn">
    <wsdl:part name="parameters" element="tns:AddStatus" />
  </wsdl:message>
  <wsdl:message name="AddStatusSoapOut">
    <wsdl:part name="parameters" element="tns:AddStatusResponse" />
  </wsdl:message>
  <wsdl:message name="GetOPInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetOPInfo" />
  </wsdl:message>
  <wsdl:message name="GetOPInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetOPInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetTerminalOperationsSoapIn">
    <wsdl:part name="parameters" element="tns:GetTerminalOperations" />
  </wsdl:message>
  <wsdl:message name="GetTerminalOperationsSoapOut">
    <wsdl:part name="parameters" element="tns:GetTerminalOperationsResponse" />
  </wsdl:message>
  <wsdl:portType name="CMMon3ServiceSoap">
    <wsdl:operation name="RegisterInfo3">
      <wsdl:input message="tns:RegisterInfo3SoapIn" />
      <wsdl:output message="tns:RegisterInfo3SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="NoloadPodInfo">
      <wsdl:input message="tns:NoloadPodInfoSoapIn" />
      <wsdl:output message="tns:NoloadPodInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RegisterPodInfo3">
      <wsdl:input message="tns:RegisterPodInfo3SoapIn" />
      <wsdl:output message="tns:RegisterPodInfo3SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="NewPod3">
      <wsdl:input message="tns:NewPod3SoapIn" />
      <wsdl:output message="tns:NewPod3SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="VerifyPod3">
      <wsdl:input message="tns:VerifyPod3SoapIn" />
      <wsdl:output message="tns:VerifyPod3SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="VerifyClose">
      <wsdl:input message="tns:VerifyCloseSoapIn" />
      <wsdl:output message="tns:VerifyCloseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Ping3">
      <wsdl:input message="tns:Ping3SoapIn" />
      <wsdl:output message="tns:Ping3SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMaxStatus">
      <wsdl:input message="tns:GetMaxStatusSoapIn" />
      <wsdl:output message="tns:GetMaxStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetStatusName">
      <wsdl:input message="tns:GetStatusNameSoapIn" />
      <wsdl:output message="tns:GetStatusNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddStatus">
      <wsdl:input message="tns:AddStatusSoapIn" />
      <wsdl:output message="tns:AddStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetOPInfo">
      <wsdl:input message="tns:GetOPInfoSoapIn" />
      <wsdl:output message="tns:GetOPInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTerminalOperations">
      <wsdl:input message="tns:GetTerminalOperationsSoapIn" />
      <wsdl:output message="tns:GetTerminalOperationsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CMMon3ServiceSoap" type="tns:CMMon3ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegisterInfo3">
      <soap:operation soapAction="http://tempuri.org/RegisterInfo3" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NoloadPodInfo">
      <soap:operation soapAction="http://tempuri.org/NoloadPodInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterPodInfo3">
      <soap:operation soapAction="http://tempuri.org/RegisterPodInfo3" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewPod3">
      <soap:operation soapAction="http://tempuri.org/NewPod3" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerifyPod3">
      <soap:operation soapAction="http://tempuri.org/VerifyPod3" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerifyClose">
      <soap:operation soapAction="http://tempuri.org/VerifyClose" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ping3">
      <soap:operation soapAction="http://tempuri.org/Ping3" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMaxStatus">
      <soap:operation soapAction="http://tempuri.org/GetMaxStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStatusName">
      <soap:operation soapAction="http://tempuri.org/GetStatusName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddStatus">
      <soap:operation soapAction="http://tempuri.org/AddStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOPInfo">
      <soap:operation soapAction="http://tempuri.org/GetOPInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTerminalOperations">
      <soap:operation soapAction="http://tempuri.org/GetTerminalOperations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CMMon3ServiceSoap12" type="tns:CMMon3ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegisterInfo3">
      <soap12:operation soapAction="http://tempuri.org/RegisterInfo3" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NoloadPodInfo">
      <soap12:operation soapAction="http://tempuri.org/NoloadPodInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterPodInfo3">
      <soap12:operation soapAction="http://tempuri.org/RegisterPodInfo3" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewPod3">
      <soap12:operation soapAction="http://tempuri.org/NewPod3" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerifyPod3">
      <soap12:operation soapAction="http://tempuri.org/VerifyPod3" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerifyClose">
      <soap12:operation soapAction="http://tempuri.org/VerifyClose" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ping3">
      <soap12:operation soapAction="http://tempuri.org/Ping3" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMaxStatus">
      <soap12:operation soapAction="http://tempuri.org/GetMaxStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStatusName">
      <soap12:operation soapAction="http://tempuri.org/GetStatusName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddStatus">
      <soap12:operation soapAction="http://tempuri.org/AddStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOPInfo">
      <soap12:operation soapAction="http://tempuri.org/GetOPInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTerminalOperations">
      <soap12:operation soapAction="http://tempuri.org/GetTerminalOperations" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CMMon3Service">
    <wsdl:port name="CMMon3ServiceSoap" binding="tns:CMMon3ServiceSoap">
      <soap:address location="http://10.11.40.15:1085/CMMonitorService/CMMon3Service.asmx" />
    </wsdl:port>
    <wsdl:port name="CMMon3ServiceSoap12" binding="tns:CMMon3ServiceSoap12">
      <soap12:address location="http://10.11.40.15:1085/CMMonitorService/CMMon3Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>